body {
  font-family: Arial, sans-serif;
  background-color: #F3ECD7; /* Бежевый фон */
  margin: 0;
  padding: 0;
}
header {
  background-color: #2B1E1E;
  color: #FFFDF1;
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.hero {
  background: url('Coffee.png') center center/cover;
  color:  #FFFDF1;
  text-align: center;
  padding: 60px 0;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
}

.welcome-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.section, .section-text, .section-contact, .cartasection {
  background-color: #FFFDF1;
  padding: 20px;
  border: 1px solid #FFFDF1;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section:hover, .section-text:hover, .section-contact:hover, .cartasection:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.menu-item {
  background-color: #FFFDF1;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.img-container {
  background-color: #FFFDF1;
  width: 80px;
  height: auto;
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ots{
margin-left: 30px;
}
.otsc {
  margin-left: 20px;
}

.section-contact, .section-text, .cartasection {
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  background-color:  #FFFDF1;
}

.btn {
  background-color: #2B1E1E;
  color: #FFFDF1;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}
.btn:hover {
  background-color: #69271B;
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(115, 46, 33, 0.4);
  transition: all 0.5s;
}
.carta {
  width: 100%;
  height: 250px;
  border: 0;
  margin-top: 15px;
}
.img
{
  width: 100px;
  height: 110px;
  margin: center;
  mix-blend-mode: multiply;
  color: transparent;
}
.drimg{
  width: 90px;

  height: 70px;
  color: transparent;
  margin: center;
  mix-blend-mode: multiply;
  left: 0px;
}
.glimg
{
  color: transparent;
  width: 100px;


  height: 90px;

  margin: center;
  mix-blend-mode: multiply;

}
.limg{
  left: 0px;
    width: 90;
  
    height: 100px;
    color: transparent;
    margin: center;
    mix-blend-mode: multiply;
}